.card {
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 40px;
  padding: 40px;
  box-shadow: 10px 10px 50px -21px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 10px 10px 50px -21px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 10px 50px -21px rgba(0, 0, 0, 0.1);
  color: black;
  width: 70%;
  max-width: 500px;
  min-height: 15vh;
  transition: transform ease 0.5s;
  position: absolute;
  top: 30px;
  height: calc(100vh - 250px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  overflow: hidden;
  gap: 25px;
}
.card__mainImg {
  height: 70%;
  max-height: 300px;
}

.card p {
  font-size: 1.8rem;
  margin: 0;
}
.cardToLeft {
  transform: translateX(-110vw);
}
.cardToRight {
  transform: translateX(110vw);
}
.cardToBottom {
  transform: translateY(110vh);
}
.hidden {
  display: none;
}
.card__btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.card__btnContainer img {
  width: 90px;
}

@media screen and (max-width:800px) {
  .card__mainImg {
    height: 60%;
    max-height: 250px;
  }
  
  .card p {
    font-size: 1.2rem;
  }
}