:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
   background-color: #222;
   color: white;
   font-family: "Open Sans", sans-serif;
}

.btnStyle{
  background-color: #d0d0d0;
  border-radius: 5px;
  border: 1px solid black;
  

}